<% if user_signed_in? %>
<div class="mt-4 container text-center">
    <%= link_to "+ Add Group", new_group_path, :class => 'btn btn-md btn-primary' %>
    <hr/>

</div>
<div class="mt-4 container text-center">
      <div class="row">
        <% @group.each do |g| %>
              <div class="col-lg-4 card m-4" style="width: 18rem;">
                <div class="card-body">
                  <h1 class="card-title"><%= g.name %></h1><hr/>
                  <% g.users.uniq.each do |u| %>
                    <p class="card-text"><%= u.email%></p>
                  <% end %>
                  <%= link_to "View Group", group_path(id: g.id), :class => 'btn btn-primary'%>

                </div>
              </div>

        <% end %>
      </div>

</div>

<% end %>